<!DOCTYPE html>
<html>
<head>
    <title>Comments List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Comments List</h1>
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">
                    <h2>{{ comment.film.title }}</h2>
                    <p>{{ comment.text }}</p>
                    <p><strong>Author:</strong> {{ comment.author }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>